@{
    ViewBag.Title = "Naslovnica";
}

<div class="jumbotron text-center mt-3">
    <h1>StudentApp</h1>
    <p class="lead">Aplikacija za administraciju studenata i kolegija.</p>
    <p><a href="~/Home/AppIndex" class="btn btn-primary btn-lg">Kreni &raquo;</a></p>
</div>