@model StudentAppThree.Models.MainPageViewModel
@{
    ViewBag.Title = "ShowAllPopisDva";
}


<h2 class="mt-3">Popis studenata i kolegija</h2>

<div class="col-10">
    <table class="table table-hover" id="popisTable">
        <thead class="bg-info">
            <tr>
                <th>Ime I Prezime</th>
                <th>Naziv</th>
                <th>Uredi</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@*<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addEditFormModal"></a>*@

<div id="addEditFormModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Uredi Popis</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="myModalBodyDiv">
                @*<form id="addEditForm">
                    @Html.HiddenFor(model => model.MyProperty.PopisId)

                    @Html.TextBoxFor(model => model.MyProperty.Studenti.Prezime)

                    @Html.DropDownListFor(model => model.MyProperty.KolegijId, ViewBag.Kolegij as SelectList, "-- Odaberi Kolegij--", new { @class = "form-Control" })

                        @Html.DropDownListFor(model => model.MyProperty.StudentId, ViewBag.Studenti as SelectList, "-- Odaberi Studenta --", new { @class = "form-Control" })

                    @*<a href="#" id="btnSubmit" class="btn btn-outline-primary">
                        @if (Model.MyProperty.PopisId > 0)
                        {<span>Uredi postojeći</span>}
                        else
                        { <span>Novi Upis</span>}
                    </a>
                </form>*@
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline-warning" data-dismiss="modal">Odustani</a>
                <a href="#" class="btn btn-outline-success">Spremi</a>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        ShowAllPopisDvaJson();

    });

    function ShowAllPopisDvaJson() {

        $.ajax({

            type: "GET",
            url: "/Home/ShowAllPopisDvaJson",
            success: function (response) {

                BindDataTable(response);

            }

        })
    }

    function BindDataTable(response) {
        //debugger
        $("#popisTable").DataTable({

            "aaData": response,
            "aoColumns": [

                //{ "mData": "Ime" },
                //{ "mData": "Prezime" },
                
                { "mData": "PunoIme" },
                { "mData": "Naziv" },
                {
                    "mData": "PopisId",
                    "render": function (PopisId, type, full, meta) {

                        return '<a href="#" onclick="AddEditPopis(' + PopisId + ')"><i class="fa fa-pencil"></i></a><a href="#" onclick="ShowOnePopis(' + PopisId +')">Uredi ' + PopisId +'</a>';

                    }
                }
                
            ]

        });

    }

    function AddEditPopis(id) {
        console.log("Radi....");
        console.log(id);
        debugger
        $.ajax({
            type: "GET",
            url: "/Home/AddEditStudentDva",
            data: id,
            success: function (response) {

                console.log("Radi I OVOO....");
                debugger
            }

        })

    }

    function ShowOnePopis(id) {
        console.log(id);
        
        console.log("Id do sad " + id);
        $.ajax({

            type: "POST",
            url: "/Home/ShowOnePopis",
            data: { popisId: id},
            success: function (result) {
                //debugger
                $("#myModalBodyDiv").html(result);
                $("#addEditFormModal").modal("show");
                //debugger
                console.log("Test Radi");

            },
            error: function (message) {
                console.log(message.responseText);
            }

        })
    }
</script>
