@model StudentAppThree.Models.MainPageViewModel
@{
    ViewBag.Title = "ShowAllPopisDva";
}


<h2 class="mt-3">Popis studenata i kolegija</h2><a href="#" class="btn btn-outline-primary my-4" title="Dodaj novi zapis" onclick="ShowOnePopis(0)">Dodaj</a>

<div class="col-10">
    <table class="table table-hover" id="popisTable">
        <thead class="bg-info">
            <tr>
                <th>PunoIme</th>
                <th>Naziv</th>
                <th>Uredi</th>
                @*<th>Id Popisa</th>*@
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@*<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addEditFormModal"></a>*@

<div id="addEditFormModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h3 class="modal-title">Uredi Popis</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="myModalBodyDiv">


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline-warning" data-dismiss="modal">Odustani</a>
                <a href="#"  class="btn btn-outline-primary" title="Dodaj novi zapis" onclick="ShowOnePopis(0)">Dodaj Novi</a>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        ShowAllPopisDvaJson();

        //$("#btnSave").click(function () {

        //    console.log("Clicked");
        //    let addEditFormData = $("#addEditSecondForm").serialize();


        //    console.log(addEditFormData);
        //    debugger
        //});
    });

    function ShowAllPopisDvaJson() {

        $.ajax({

            type: "GET",
            url: "/Home/ShowAllPopisDvaJson",
            success: function (response) {

                BindDataTable(response);
            }

        })
    }

    function BindDataTable(response) {
        //debugger
        $("#popisTable").DataTable({

            "aaData": response,
            "aoColumns": [

                //{ "mData": "Ime" },
                //{ "mData": "Prezime" },

                { "mData": "PunoIme" },
                { "mData": "Naziv" },
                {
                    "mData": "PopisId",
                    "render": function (PopisId, type, full, meta) {

                        return '<a href="#" onclick="ShowOnePopis(' + PopisId + ')"><i class="fa fa-pencil mr-5" title="Uredi"></i></a><a href="#" onclick="DeleteRecord(' + PopisId + ')"><i class="fa fa-ban text-danger" title="Obriši"></i></a>';

                        //<a href="#" onclick="AddEditPopis(' + PopisId + ')"><i class="fa fa-pencil"></i></a>
                    }
                }

            ]

        });
    }
    //function AddEditPopis(id) {
    //    console.log("Radi....");
    //    console.log(id);
    //    debugger
    //    $.ajax({
    //        type: "GET",
    //        url: "/Home/AddEditStudentDva",
    //        data: id,
    //        success: function (response) {

    //            console.log("Radi I OVOO....");
    //            debugger
    //        }

    //    })

    //}

    function DeleteRecord(id) {
        console.log("Radi brisanje do tuda");
        console.log(id);
        debugger
        $.ajax({
            type: "POST",
            url: "/Home/DeleteRecord/" + id,
            //data: id,
            
            success: function () {

                console.log("Briše....");
                //debugger
            },
            error: function () {
                window.location.href = "/Home/AppIndex";
            }

        })

    }

    function ShowOnePopis(id) {
        console.log(id);

        console.log("Id do sad " + id);
        $.ajax({

            type: "POST",
            url: "/Home/ShowOnePopis",
            data: { popisId: id },
            success: function (result) {
                //debugger
                $("#myModalBodyDiv").html(result);
                $("#addEditFormModal").modal("show");
                //debugger
                console.log("Test Radi");

            },
            error: function (message) {
                console.log(message.responseText);
            }

        })
    }
</script>
